


.slider{


    background-color: black;
}



.slider_buttons{


    padding-right: 10%;
    padding-left: 10%;
    font-size: 18px;
}







.slider_buttons{


    background-color: black;



}



.slider_ul{


    overflow: hidden;
    background-color: black;
    color: white;
    padding-right: 0px;



}


.slider_label{



}



.slider_ul_li{
    direction: rtl;
    margin-right: 50px;
    margin-bottom: 0px;

    padding-right: 0px;






}
.slider_ul_li1{

    margin-right: 0px;


}
























.carousel_wrapper{


    border: solid;

}


.container{
    padding-left: 0px;
    padding-right: 0px;
    margin-right: 0px;
    margin-left: 0px;


    border: solid;



}






















































.hoverfx .figure {
    position: relative;
    z-index: 2;
    display: inline-block;

    border: 3px solid #e9e9e9;
    color: #ecf0f1;
    vertical-align: middle;
    text-transform: uppercase;
    font-size: 1.2rem;
    opacity: 0;
}

.hoverfx :hover {




    background: #e9e9e9;
    color: #333;
}

.hoverfx .overlay {
    position: absolute;
    top: 0;
    z-index: 1;
    padding: 50%;
    background: rgba(0, 0, 0, .7);
    opacity: 0;
}

.item:hover .figure,
.item:hover .overlay {
    opacity: 1;
}